<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{.Title}}</title>
  <script>
    window.onload = function() {
      if(document.referrer) {
        const interval = setInterval(updateCounter, 1000);
        var countdown = 5;
        function updateCounter() {
          document.getElementById('counter').innerText = countdown;
          countdown--;

          if(countdown < 0) {
            window.location.href = document.referrer;
          }
        }
      } else {
        elem = document.getElementById('redirect-msg');
        elem.remove();
      }
    }
  </script>
</head>
<body>
  <h4>{{.Message}}</h4>
  <p id="redirect-msg">Redirecting in <span id="counter">5</span> seconds...</p>
</body>
</html>
