body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background: #fff;
  text-align: center;
}

header {
  background: #212d45;
  color: #fff;
  padding: 25px;
}

.container {
  padding: 2em;
}

.btn {
  display: inline-block;
  border: 1px solid;
  padding: 6px;
  background: #3b5998;
  color: #fff;
  border-radius: 1px;
  text-decoration: none;
}

.btn:hover {
  background: #2d4373;
}

.btn-danger {
  background: #bc574e;
}

.btn-danger:hover {
  background: #873d36;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border: 1px solid #ddd;
}

th {
  background: #212d45;
  color: #fff;
}

tr:hover {
  background-color: #f8f9fa;
}

td .gg-copy {
  display: inline-block;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 30px;
  border: 1px solid #888;
  width: fit-content;
}

ul {
  padding-left:0;
  list-style: none;
}

li {
  padding:4px;
}

.modal table, .modal caption, .modal tbody, .modal tfoot, .modal thead, .modal tr, .modal th, .modal td {
  margin: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
}


input:focus, textarea:focus {
  outline-color: #212d45;
}

.gg-copy {
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 14px;
    height: 18px;
    border: 2px solid;
    margin-left: -5px;
    margin-top: -4px
}

.gg-copy::after, .gg-copy::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute
}

.gg-copy::before {
  background:
      linear-gradient( to left,
          currentColor 5px, transparent 0)
          no-repeat right top/5px 2px,
      linear-gradient( to left,
          currentColor 5px, transparent 0)
          no-repeat left bottom/ 2px 5px;
  box-shadow: inset -4px -4px 0 -2px;
  bottom: -6px;
  right: -6px;
  width: 14px;
  height: 18px
}

.gg-copy::after {
  width: 6px;
  height: 2px;
  background: currentColor;
  left: 2px;
  top: 2px;
  box-shadow: 0 4px 0,0 8px 0
}

.gg-copy:hover {
  color: #2d4373;
}

.gg-remove {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  color: #bc574e;
  transform: scale(var(--ggs,1));
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 22px
}
.gg-remove::before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 2px;
  background: currentColor;
  border-radius: 5px;
  top: 8px;
  left: 4px
}

.gg-remove:hover {
  color: #91423b;
}
